<?xml version="1.0" encoding="UTF-8"?>
<settings

nameText="Cyndi Chin"
taglineText="explorer + learner + fitness enthusiast"
mainText="COMING SOON"

useOwnLogo="false"
logoFilePath="images/logo.png"

nameColor="0xffffff"
taglineColor="0xffffff"
mainColor="0xffffff"
linkColor="0xffffff"
linkRollOverColor="0xd3d3d3"
linkRollOverBlurAmount="1"

backgroundColor="0x8C9ACA"
backgroundGradientColor1="0xffffff"
backgroundGradientColor2="0x8C9ACA"
backgroundGradientAlphaPercent="40"

borderColor="0xffffff"
borderThickness="10"

ownLogoXOffset="3"
taglineXOffset="2"
taglineYOffset="-9"
mainXOffset="-2"
linkXOffset="2"

introBlurAmount="10"
siteRotation="0"

>

<link text="cgc95@cornell.edu" url="mailto:cgc95@cornell.edu" />
<link text="Check out my resume" url="assets/resume.pdf" target="_blank" />
<link text="To be released in Winter 2016..." url="http://cyndichin.github.io/" target="_blank" />
	
</settings>